body {
 font-family: 'Dosis', sans-serif;
 background-color: #f3f1f7;
 display: flex;

}

#title {
 display: flex;
 flex-direction: row;
 flex: 1;
 justify-content: center;
 font-family: 'Homemade Apple', cursive;
 font-size: 24px;
 color: rgb(3, 169, 244);
}

.thoughtPage {
 display: flex;
 width: 100%;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 align-content: center;
}

.buttonThought {
 align-items: center;
 width: 70%;
 display: flex;
 margin-bottom: 2%;
 justify-content: center;
}

.thoughtContainer,
textArea,
button,
form,
input {
 border: 1px solid black;
 border-radius: 5px;
}

.thoughtContainer {
 width: 60%;
 background-color: white;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 2%
}

.myThoughts {
 display: flex;
 flex-direction: column;
 width: 90%;
 border-bottom: solid 3px #f3f1f7;
 padding: 10px;
 word-break: break-all;
}

h3 {
 margin: 0px;
}

.material-icons {
 float: right;
}

form {
 flex-direction: column;
 display: flex;
 justify-content: center;
 align-content: center;
 width: 400px;
 background-color: #B1DDEA;
 height: 400px;
 border-radius: 5px;
 margin-top: 20px;
}

label,
textArea,
button,
input {
 margin: 0% 6%;
}

label {
 display: flex;
 flex: 1;
 align-items: flex-end;
 font-size: 18px;
 font-weight: 600;
 padding-bottom: 2%;
}

input {
 height: 30px;
 padding: 0px 3px;
}

textArea {
 display: flex;
 flex: 4;
 margin-bottom: 4%;
 font-family: 'Dosis', sans-serif;
}

button {
 padding: 5px;
 margin-bottom: 4%;
 border: 1px solid black;
 background: white;
 font-family: 'Dosis', sans-serif;
 cursor: pointer;
}